.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.preview-container {
  width: 30%;
}

.preview-container img {
  width: 100%;
}

.clarifai-info {
  width: 30%;
}

.clarifai-info ul li {
  list-style-type: none;
}

